{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1> welcome to profile </h1>
<h1> Hello : {{user}} </h1>
{% if messages %}
{% for m in messages %}
<p class="bg-success p-3 text-white">{{m}}</p>
{% endfor %}
{% endif %}
<br>

<p><a href="{% url 'passchange' %}" class="btn btn-info">Change your password</a>
    <a href="{% url 'passchangeWithOUTold' %}" class= " btn btn-primary">Change your password without old password</a>
</p>

<form method="post" style="width: 50%; height: 500px; margin: auto;" novalidate>
    {% csrf_token %}
    <h1 class="p-5">Profile Page</h1>

    {% if form.non_field_errors %}
    {% for er in form.non_field_errors %}
    <p class="bg-danger text-white">{{er}}</p>
    {% endfor %}
    {%endif%}
    <!-- {{form | crispy}} -->

    <!-- form er help text gulu badh deor jonno nicher kaj gulu korteh hobhe -->

    {% for fm in form %}
    {{fm.label_tag}}
    {{fm}}
    {{fm.errors|striptags }}
    {% endfor %}
    <br>
    <button class="btn btn-warning mt-3" type="submit">change data</button>
</form>
{% endblock %}