{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container row" style="margin: auto;">
  <div class="car_text col-lg-6">
    <h3>Welcome to CarHouse! Discover your dream car with us. We offer a wide selection of new and used vehicles, expert
      reviews, and the best deals in town. Start your car journey with CarHouse today</h3>
  </div>
  <div class="car_image col-lg-6"><img style="width:90%;" src="{% static 'car_Image.jpg' %}" alt="car_image"></div>

</div>

{% for br in brand %}
<button> <a href="{% url 'brandWiseCar' br.slug %}">{{br.Name}}</a> </button>
{% endfor %}
<div class="row container">
  {% for car in Cardata %}
  <div class="card col-lg-4" style="width: 18rem; margin:auto;">
    <img src="{{car.image.url}}" class="card-img-top " alt="carImage" style="object-fit: contain;">
    <div class="card-body">
      <h4 class="card-title" style="font-style: italic;">{{car.name}}</h4>
      <h6>{{car.price}}</h6>
      <h3>
        {{car.brnadName.Name}}
      </h3>
      <a href="{% url 'details' car.id %}" class="btn btn-primary">view Details</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}