{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center;">About Us <hr></h1>

<div class="about container row " style="background-color: antiquewhite;">
    <div class="text col-lg-6">
        <p class="textAbout"> we don’t accept compromises. Not about our food. All our ingredients are sourced from local producers to ensure quality and freshness.

            That's why our menu is seasonal. Today, we may serve you creamy mushroom soup, and tomorrow we may have a classic ratatouille on the menu. But the taste is always the same: finger-licking good!
            
            Don't hesitate to pay us a visit if you share our passion for fresh dishes cooked with only the best ingredients. We promise an experience that will keep you coming back for more!”</p>
    </div>
    <div class="image col-lg-6">
        <img src="../static/image/vegpic.jpg" alt="vegpic">
    </div>

</div>
{% endblock %}